<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chinarecorder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:logo="@drawable/home_app" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecordListActivity"
            android:label="@string/title_record"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chinarecorder.MainActivity" />
        </activity>
        <activity
            android:name=".RecordDetailActivity"
            android:label="@string/title_activity_record_detail"
            android:parentActivityName=".RecordListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chinarecorder.RecordListActivity" />
        </activity>
        <activity
            android:name=".PlayActivity"
            android:label="@string/title_activity_play"
            android:parentActivityName=".RecordListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chinarecorder.RecordListActivity" />
        </activity>
    </application>
    
    <!-- 往SDCard写入数据权限 -->  
    
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />  
 
	<!-- 录音权限 -->  
    
	<uses-permission android:name="android.permission.RECORD_AUDIO" />  
    
	<!-- 在SDCard中创建与删除文件权限 -->  
    
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

</manifest>
